/* tab bar */
.orderManagementTab .arco-tabs-header-scroll {
  flex-direction: column;
  padding: 8px 12px;
}

.orderManagementTab .arco-tabs-header {
  display: flex;
  gap: 16px;
}

/* tab item */
.orderManagementTab .arco-tabs-header-title {
  padding: 0 !important;
  margin: 0 !important;
}

.orderManagementTab .arco-tabs-header-extra {
  line-height: initial;
}

/* tab icon */
.orderManagementTab .arco-icon-hover {
  display: none;
}

/* tab內容 */
.orderManagementTab .arco-typography {
  margin: 0 !important;
}

.orderManagementTab .arco-pagination-item {
  margin: 0 !important;
}

.orderManagementTab .arco-tabs-content {
  padding-top: 0;
}

/* 在畫面大於 768 時，調整 arco-tabs-content-horizontal 的 padding */
@media screen and (min-width: 768px) {
  /* tab bar */
  .orderManagementTab .arco-tabs-header-scroll {
    flex-direction: row;
    padding: 8px 16px;
  }

  /* tab最外層 */
  .orderManagementTab .arco-tabs {
    border-radius: 8px;
    border-color: #e5e6eb;
    border-width: 1px;
  }
}
